<link href="__PUBLIC__/assets/css/index2012.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/assets/javascript/jquery-1.7.2.min.js" type="text/javascript" language="javascript"></script>



<script src="__PUBLIC__/assets/javascript/common.js" type="text/javascript" language="javascript"></script>
<script src="__PUBLIC__/assets/javascript/user.common.js" type="text/javascript" language="javascript"></script>
<script src="__PUBLIC__/assets/javascript/float.0.1.js" type="text/javascript" language="javascript"></script>
<link href="__PUBLIC__/assets/myStyle/search.css" rel="stylesheet" type="text/css" />
<!--<link href="__PUBLIC__/assets/css/stu2012.css" rel="stylesheet" type="text/css" />-->

<link rel="stylesheet" href="__PUBLIC__/assets/css/notice.min.css">