



<link  href="__PUBLIC__/assets/stylesheets/bootstrap1.css"  media="all"  rel="stylesheet" />
<link  href="__PUBLIC__/assets/stylesheets/theme1.css" rel="stylesheet"  />
<link  href="__PUBLIC__/assets/stylesheets/font-awesome.min.css"  rel="stylesheet" />
<link  href="__PUBLIC__/assets/stylesheets/font-awesome.css"  rel="stylesheet" />
<link href="__PUBLIC__/assets/stylesheets/alertify.css"  rel="stylesheet" />

<script src="__PUBLIC__/assets/javascripts/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/bootstrap.js"></script>
<script type="text/javascript" src='__PUBLIC__/assets/js/morris.min.js'></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/realm.js"></script>


