
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>模拟考试</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/ans/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/ans/datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/ans/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/ans/peskin.css" />

    <script src="__PUBLIC__/assets/ans/jquery.min.js"></script>
    <script src="__PUBLIC__/assets/ans/jquery.json.js"></script>
    <script src="__PUBLIC__/assets/ans/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/assets/ans/bootstrap.min.js"></script>
    <script src="__PUBLIC__/assets/ans/bootstrap-datetimepicker.js"></script>

    <script src="__PUBLIC__/assets/ans/all.fine-uploader.min.js"></script>

    <script src="__PUBLIC__/assets/ans/ckeditor.js"></script><style>.cke{visibility:hidden;}</style>
    <script src="__PUBLIC__/assets/ans/plugin.js"></script>
</head><body data-spy="scroll" data-target="#myScrollspy">
<div class="container-fluid" id="questioncontent">
    <div class="row-fluid">
        <div class="main box">
            <div class="col-xs-3" id="questionbar">
                <dl class="clear affix-top" style="width:270px;" data-spy="affix" data-offset-top="235" id="questionindex">
                    <dd>
                        <h2><a class="btn btn-danger col-xs-12" style="font-size:1.2em;"><span id="timer_h">00</span>：<span id="timer_m">00</span>：<span id="timer_s">00</span></a></h2>
                    </dd>
                    <dt class="float_l"><h4>&nbsp;</h4></dt>
                    <ul class="nav nav-tabs" role="tablist" style="background-color: #D1EEEE">
                        <li role="presentation" class="active"><a href="#qt_1" aria-controls="home" role="tab" data-toggle="tab">一</a></li>
                        <li role="presentation"><a href="#qt_2" aria-controls="home" role="tab" data-toggle="tab">二</a></li>
                        <li role="presentation"><a href="#qt_3" aria-controls="home" role="tab" data-toggle="tab">三</a></li>
                    </ul>

                    <div class="tab-content" style="margin-top:5px;" >
                        <div role="tabpanel" class="tab-pane tableindex active" id="qt_1">
                           <volist name="test_s" id="vs"  >
                              <a id="sign_{$vs['id']}" href="javascript:;" onclick="javascript:gotoquestion({$vs['id']})" class="btn btn-default"> {$i}</a>
                           </volist>
                        </div>
                        <div role="tabpanel" class="tab-pane tableindex" id="qt_2">
                            <volist name="test_d" id="vd"  >
                                <a id="sign_{$vd['id']}" href="javascript:;" onclick="javascript:gotoquestion({$vd['id']})" class="btn btn-default"> {$i}</a>
                            </volist>
                        </div>
                        <div role="tabpanel" class="tab-pane tableindex" id="qt_3">
                            <volist name="test_j" id="vj"  >
                                <a id="sign_{$vj['id']}" href="javascript:;" onclick="javascript:gotoquestion({$vj['id']})" class="btn btn-default"> {$i}</a>
                            </volist>
                        </div>
                    </div>
                </dl>
            </div>
            <form id="form1"  name="form1"  method="post" action="{:U('Test/ans')}" enctype="multipart/form-data" class="col-xs-9 split pull-right" style="padding:0px;">
                <div class="box itembox">
                    <h2 class="text-center">{$pname}</h2>
                </div>
                    <div class="box itembox questionpanel" id="questype_1" >
                        <blockquote class="questype">一、单选题</blockquote>
                    </div>
                <volist name="test_s" id="v" key="k">
                    <div class="box itembox paperexamcontent" id="questions_{$v['id']}" rel="1" >
                        <h4 class="title">
                            第{$k}题
                            </h4><a name="question_{$v['id']}">
                    </a><div class="choice"><a name="question_{$v['id']}">
                    </a>{$v['content']}</div>
                        <div class="choice">
                            <p>A:{$v['op1']}</p><p>B:{$v['op2']}</p>                    </div>
                        <div class="selector">
                            <label class="radio-inline"><input type="radio" name="question[{$v['id']}]" rel="{$v['id']}" value="A" autocomplete="off">A </label>
                            <label class="radio-inline"><input type="radio" name="question[{$v['id']}]" rel="{$v['id']}" value="B" autocomplete="off">B </label>
                        </div>
                        <div class="toolbar">
                            <if condition="$k eq 1 "><a class="pull-right btn btn-primary" onclick="javascript:gotoindexquestion({$v['next']});">下一题<span class="glyphicon glyphicon-chevron-right"></span></a>
                                <elseif  condition="$k eq  count($test_s)" /><a class="btn btn-default" onclick="javascript:gotoindexquestion({$v['pre']});"><span class="glyphicon glyphicon-chevron-left"></span>上一题</a>
                            <else /><a class="btn btn-default" onclick="javascript:gotoindexquestion({$v['pre']});"><span class="glyphicon glyphicon-chevron-left"></span>上一题</a><a class="pull-right btn btn-primary" onclick="javascript:gotoindexquestion({$v['next']});">下一题<span class="glyphicon glyphicon-chevron-right"></span></a>
                                </if>
                        </div>
                    </div>
                </volist>
        <div class="box itembox questionpanel" id="questype_2" >
            <blockquote class="questype">二、多选题</blockquote>
        </div>
                <volist name="test_d" id="vd" key="kd">
        <div class="box itembox paperexamcontent" id="questions_{$vd['id']}" rel="2" >
            <h4 class="title">
                第{$kd}题
                <a name="question_{$vd['id']}">
            </a></h4><a name="question_{$vd['id']}">
        </a><div class="choice"><a name="question_{$vd['id']}">
        </a>{$vd['content']}</div>
            <div class="choice">
                <p>A:{$vd['op1']}</p><p>B:{$vd['op2']}</p>                    </div>
            <div class="selector">
                <label class="checkbox-inline"><input type="checkbox" name="question[{$vd['id']}][0]" rel="{$vd['id']}" value="A" autocomplete="off">A </label>
                <label class="checkbox-inline"><input type="checkbox" name="question[{$vd['id']}][1]" rel="{$vd['id']}" value="B" autocomplete="off">B </label>
            </div>
            <div class="toolbar">
                <if condition="$kd eq 1 "><a class="pull-right btn btn-primary" onclick="javascript:gotoindexquestion({$vd['next']});">下一题<span class="glyphicon glyphicon-chevron-right"></span></a>
                    <elseif  condition="$kd eq  count($test_d)" /><a class="btn btn-default" onclick="javascript:gotoindexquestion({$vd['pre']});"><span class="glyphicon glyphicon-chevron-left"></span>上一题</a>
                    <else /><a class="btn btn-default" onclick="javascript:gotoindexquestion({$vd['pre']});"><span class="glyphicon glyphicon-chevron-left"></span>上一题</a><a class="pull-right btn btn-primary" onclick="javascript:gotoindexquestion({$vd['next']});">下一题<span class="glyphicon glyphicon-chevron-right"></span></a>
                </if>
            </div>
        </div>
                    </volist>
                <div class="box itembox questionpanel" id="questype_3" >
                    <blockquote class="questype">三、判断题</blockquote>
                </div>
                <volist name="test_j" id="vj" key="kj">
                    <div class="box itembox paperexamcontent" id="questions_{$vj['id']}" rel="3" >
                        <h4 class="title">
                            第{$kj}题
                        </h4><a name="question_{$vj['id']}">
                    </a><div class="choice"><a name="question_{$vj['id']}">
                    </a>{$vj['content']}</div>
                        <div class="choice">
                            <p>A:{$vj['op1']}</p><p>B:{$vj['op2']}</p>                    </div>
                        <div class="selector">
                            <label class="radio-inline"><input type="radio" name="question[{$vj['id']}]" rel="{$vj['id']}" value="A" autocomplete="off">A </label>
                            <label class="radio-inline"><input type="radio" name="question[{$vj['id']}]" rel="{$vj['id']}" value="B" autocomplete="off">B </label>
                        </div>
                        <div class="toolbar">
                            <if condition="$kj eq 1 "><a class="pull-right btn btn-primary" onclick="javascript:gotoindexquestion({$vj['next']});">下一题<span class="glyphicon glyphicon-chevron-right"></span></a>
                                <elseif  condition="$kj eq  count($test_j)" /><a class="btn btn-default" onclick="javascript:gotoindexquestion({$vj['pre']});"><span class="glyphicon glyphicon-chevron-left"></span>上一题</a>
                                <else /><a class="btn btn-default" onclick="javascript:gotoindexquestion({$vj['pre']});"><span class="glyphicon glyphicon-chevron-left"></span>上一题</a><a class="pull-right btn btn-primary" onclick="javascript:gotoindexquestion({$vj['next']});">下一题<span class="glyphicon glyphicon-chevron-right"></span></a>
                            </if>
                        </div>
                    </div>
                </volist>
                <h3 class="text-center">
                    <a class="btn btn-primary" style="font-size:1em;width:270px;" href="#submodal" role="button" data-toggle="modal">交 卷</a>
                </h3>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="submodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" autocomplete="off"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">交卷</h4>
            </div>
            <div class="modal-body">
                <p>共有试题 <span class="allquestionnumber"></span> 题，已做 <span class="yesdonumber"></span> 题。您确认要交卷吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="javascript:submitPaper();" class="btn btn-primary" autocomplete="off">确定交卷</button>
                <button aria-hidden="true" class="btn" type="button" data-dismiss="modal" autocomplete="off">再检查一下</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function gotoquestion(questid)
    {
        $(".questionpanel").hide();
        $(".paperexamcontent").hide();
        $("#questions_"+questid).show();
        $("#questype_"+$("#questions_"+questid).attr('rel')).show();
    }
    function gotoindexquestion(questid)
    {
        $(".questionpanel").hide();
        $(".paperexamcontent").hide();
        $("#questions_"+questid).show();
        $("#questype_"+$("#questions_"+questid).attr('rel')).show();
    }
    $(document).ready(function(){
        $.get('http://localhost/tp_oexam/Home/Test/times',function(data){
            var setting = {
                hbox:$("#timer_h"),
                mbox:$("#timer_m"),
                sbox:$("#timer_s"),
                finish:function(){
                    submitPaper();
                }
            }
            setting.lefttime =data;
            countdown(setting);
        });

        (function(){
            $(".questionpanel").hide();
            $(".questionpanel:first").show();
            $(".paperexamcontent").hide();
            $(".paperexamcontent:first").show();
        })();

        //setInterval(saveanswer,1000);
      //  initData = $.parseJSON(storage.getItem('questions'));
       // alert(initData);
//        if(initData){
//            for(var p in initData){
//                if(p!='set')
//                    formData[p]=initData[p];
//            }
//
//
//            var radios = $('#form1 :input[type=radio]');
//            $.each(radios,function(){
//                var _= this, v = initData[_.name]?initData[_.name].value:null;
//                var _this = $(this);
//                if(v!=''&&v==_.value){
//                    _.checked = true;
//                    batmark(_this.attr('rel'),initData[_this.attr('name')].value);
//                }else{
//                    _.checked=false;
//                }
//            });
//
//            var checkboxs=$('#form1 :input[type=checkbox]');
//            $.each(checkboxs,function(){
//
//                var _=this,v=initData[_.name]?initData[_.name].value:null;
//                var _this = $(this);
//                if(v!=''&&v==_.value){
//                    _.checked=true;
//                   // batmark(_this.attr('rel'),initData[_this.attr('name')].value);
//                }else{
//                    _.checked=false;
//                }
//            });
//        }

        $('#form1 :input[type=radio]').change(function(){
            var _=this;
            var _this=$(this);
            var p=[];
            p.push(_.name);
            if(_.checked){
                p.push(_.value);
                set.apply(formData,p);
            }else{
                p.push('');
                p.push(null);
                set.apply(formData,p);
            }
            markQuestion(_this.attr('rel'));
        });

        $('#form1 :input[type=checkbox]').change(function(){
            var _= this;
            var _this = $(this);
            var p=[];
            p.push(_.name);
            if(_.checked){
                p.push(_.value);
                set.apply(formData,p);
            }else{
                p.push('');
                p.push(null);
                set.apply(formData,p);
            }
            markQuestion(_this.attr('rel'));
        });
        $('.allquestionnumber').html($('.paperexamcontent').length);
        $('.yesdonumber').html($('#questionindex .btn-primary').length);
    });
</script>




</body></html>