


<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mots-查看学生列表</title>

    <include file="Public/headerlist" />

    <link rel="stylesheet" href="__PUBLIC__/assets/stylesheets/style1.css" type="text/css" />


</head>
<body>
<div id="wrap">
    <include file="Public/top" />
    <div class="container-fluid">
        <include file="Public/sidemenu"/>
        <!-- Main window -->
        <div class="main_container" id="users_page">

            <div class="row-fluid">

                <h2 class="heading">
                    学生列表
                </h2>
            </div> <!-- /row-fluid -->

            <!--此处往下为代码改写部分-->
            <div class="row-fluid">
                <div class="widget widget-padding span12">
                    <div class="widget-header">
                        <i class="icon-group"></i>
                        <h5><a href="{:U('Teacher/index')}">首页</a></h5><h5>/学生信息列表</h5>
                        <div class="widget-buttons">
                            <!--<a href="#" data-title="Add User" data-toggle="modal" data-target="#example_modal"><i class="icon-plus"></i></a>-->
                            <a href="#" data-title="Collapse" data-collapsed="false" class="collapse"><i class="icon-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="widget-body table-responsive ">
                        <table id="users" class="table table-condensed table-striped table-bordered dataTable">
                            <thead>
                            <tr>
                                <th>学号</th>
                                <th>头像</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>生日</th>
                                <th>学历</th>
                                <th>简介</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="student" id="val">
                                <tr>
                                    <td>{$val['studentid']}</td>
                                    <td><img src="__PUBLIC__/Upload/{$val['pic']}" width="60"></td>
                                    <td>{$val['sname']}</td>
                                    <td> {$val['gender']==1?'男':'女'}</td>
                                    <td>
                                        {$val['birthdate']|substr=0,10}
                                    </td>
                                    <td>{$val['degree']}</td>
                                    <td>{$val['intro']}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                                                修改选项
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href="{:U('Student/resetpassword')}?id={$val['id']}"><i class="icon-exchange"></i> 重置密码</a></li>
                                                <li><a href="{:U('Student/del')}?id={$val['id']}" onclick="return confirm('你确定要删除吗？')"><i class="icon-trash"></i> 删除</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div> <!-- /widget-body -->
                </div> <!-- /widget -->
            </div> <!-- /row-fluid -->

        </div>
        <!-- /Main window -->

    </div><!--/.fluid-container-->

</body>
</html>