<div class="navbar navbar-fixed-top "  >
    <div class="container-fluid top-bar" style="background-color: #f8f8f8;" >
        <div class="pull-right">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown user hidden-xs"><a data-toggle="dropdown" class="dropdown-toggle" href="#"  >
                    <img width="40" height="34" src="__PUBLIC__/Upload/{$Think.session.pica}" />{$Think.session.aname}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('Index/logout')}">
                            <i class="icon-signout"></i> 退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <img src="__PUBLIC__/assets/images/logo1.gif" width="160px" height="45px" style="position: relative" alt="" />
    </div>
</div>