<div class="navbar navbar-fixed-top "  >
    <div class="container-fluid top-bar" style="background-color: #f8f8f8;" >
        <div class="pull-right">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown user hidden-xs"><a data-toggle="dropdown" class="dropdown-toggle" href="#"  >
                    <img width="34" height="34" src="__PUBLIC__/Upload/{$Think.session.pict}" />{$Think.session.tname}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        <li><a href="{:U('Index/logout')}">
                            <i class="icon-signout"></i> 退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <img src="__PUBLIC__/assets/images/试题.jpg" width="45px" height="45px" style="position: relative;margin-left:20px" alt="" />
    </div>
</div>
